{% extends 'base.html.twig' %}

{% block title %}EZvents{% endblock %}

{% block body %}
    <div class="form-container">
        <h1>Créer un nouvel événement 📅</h1>

        {{ form_start(eventForm) }}
        {{ form_widget(eventForm) }}
        <button type="submit" class="btn btn-primary">Publier l'événement</button>
        {{ form_end(eventForm) }}
    </div>
{% endblock %}

