body {
    background-color: skyblue;
}
.flash-messages-container {
    max-width: 800px;
    margin: 1rem auto;
    padding: 0 1rem;
}

.flash-message {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    font-weight: 500;
    font-family: sans-serif;
}

.flash-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
